header {
    background-color: black;
    text-align: center;
    padding: 25px;
    border: 2px;
    border-style: solid;
    border-radius: 70px;
}
h1 {
    color: white;
}
body {
    padding: 25px;
    margin: 25px;
}
h2 {
    text-align: center;
    size: 50px;
}
img {
    display: flex;
    height: 300px;
    width: 300px;
    align-content: center;
}
.ind {
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    padding: 25px;
    border: 2px;
    border-style: solid;
    border-radius: 70px;
}
